@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #FF6100;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}
